.add_btn, .remove_btn{
  background-color: $bg_black_80;
  border: solid $white_200 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: $bg_black_40 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn{
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  margin: 15px 10px;
}
.remove_btn{
  padding: 6px 6px;
  width: 30px;
  height: 30px;
  margin: -1px 10px;
}
.add_btn:hover, .remove_btn:hover{
  transition : 500ms;
  background-color: $white_200;
  border: solid 3px $bg_black_80;
  box-shadow: $white_200 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn:hover:active, .remove_btn:active {
  border: solid $white_220 3px;
  transition: 0ms;
}
.add_btn:hover:active .add_icon, .remove_btn:hover:active .remove_icon {
  filter: invert(1);
  transition: 0ms;
}
.add_icon,.remove_icon{
  filter: invert(0.9);
  transition : 500ms;
}
.add_btn:hover .add_icon, .remove_btn:hover .remove_icon {
  filter: invert(0.4);
  transition : 500ms;
}
.add_favorite{
  filter: invert(1);
  transform: translateY(-1px);
  transition : 500ms;
}