.add_btn{
  width: 40px;
  height: 40px;
  margin: 15px 10px;
  background-color: $bg_black_80;
  padding: 10px 10px;
  border: solid $white_200 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: $bg_black_40 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn:hover{
  transition : 500ms;
  background-color: $white_200;
  color: #6b6b6b;
  border: solid 3px #5c5c5c;
  box-shadow: $white_200 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn:hover:active{
  border: solid $white_220 3px;
  transition: 0ms;
}
.add_icon{
  filter: invert(0.9);
  transition : 500ms;
}
.add_icon:hover{
  filter: invert(0.4);
  transition : 500ms;
}
.add_btn:hover .add_icon{
  filter: invert(0.4);
  transition : 500ms;
}