.select_options{
  height: 30px;
  width: 90px;
  margin: -1px 0px;
  padding: 1px 1px 1px 9px;
  text-align:center;
  color: $white_200;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
}

.add_btn, .remove_btn, .select_options{
  background-color: $bg_black_80;
  border: solid $white_200 3px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: $bg_black_40 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn{
  padding: 10px 10px;
  width: 40px;
  height: 40px;
  margin: 15px 10px;
}
.remove_btn{
  padding: 6px 6px;
  width: 30px;
  height: 30px;
  margin: -1px 10px;
}
.add_btn:hover, .remove_btn:hover{
  transition : 500ms;
  background-color: $white_200;
  border: solid 3px $bg_black_80;
  box-shadow: $white_200 0px 0px 10px 0px;
  transition : 500ms;
}
.add_btn:hover:active, .remove_btn:active {
  border: solid $white_220 3px;
  transition: 0ms;
}
.add_btn:hover:active .add_icon, .remove_btn:hover:active .remove_icon {
  filter: invert(1);
  transition: 0ms;
}
.add_icon,.remove_icon{
  filter: invert(0.9);
  transition : 500ms;
}
.add_btn:hover .add_icon, .remove_btn:hover .remove_icon {
  filter: invert(0.4);
  transition : 500ms;
}
.add_favorite{
  filter: invert(1);
  transform: translateY(-1px);
  transition : 500ms;
}
.footer_icon{
  height: 60%;
  filter: invert(0.5);
  transition : 500ms;
  cursor: pointer;
}
.footer_icon:hover{
  height: 60%;
  filter: invert(0.8);
  transition : 500ms;
}
.footer_icon:active{
  height: 70%;
  filter: invert(1);
  transition : 0ms;
}

.footer_icon.off{
  height: 50%;
  filter: invert(0.1);
  transition : 1000ms;
  pointer-events: none;
}