*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.debug1{
  background-color: rgba(255, 0, 0, 0.248);
  border: 1px solid black;
}
.debug2{
  background-color: rgba(204, 255, 0, 0.248);
  border: 1px solid black;
}
.debug3{
  background-color: rgba(0, 0, 255, 0.248);
  border: 1px solid black;
}
